/* Tech 11 */
body	{
	font-family: serif;
	color: Black;
	background-color: rgb(255, 255, 220);
	}

h1	{
	color: olive;
	font-size: 175%;
	font-family: sans-serif;
	text-align: center;
	margin-bottom: 0%;
	}

p	{
	font-family: serif;
	font-weight: normal;
	}

ol li	{
	color: teal;
	font-size: 125%;
	font-family: sans-serif;
	font-weight: bold;
	font-variant: small-caps;
	margin-top: 24pt;
	}

ul li {
	color: black;
	font-size: 100%;
	margin-bottom: 12pt;
	font-family: serif;
	font-weight: normal;
	font-variant: normal;
	}

ul.goals {
	list-style-type: square;
	}

ul.examples {
	list-style-type: none;
	}

a:link
	{
	color: Orange;
	text-decoration: none;
	}

a:hover
	{
	color: Yellow;
	background-color: LightGreen;
	text-decoration: none;
	}

div.assignments a:hover
	{
	background-color: Red;
	}

a:active
	{
	color: rgb(200,200,0);
	background-color: Green;
	text-decoration: none;
	}

a:visited
	{
	color: rgb(100,150,0);
	text-decoration: none;
	}

div.info {
	font-size: 100%;
	background-color: lightcyan;
	margin-top: 2%;
	width: 42%;
	height: 450px;
	border: 2px ridge blue;
	border-width: 10px;
	padding: 5px 5px 5px 5px;
	float: left;
	}

div.info p {
	margin-bottom: 0;
	margin-top: 3pt;
	}

div.info:before {
	content: "Information";
	color: teal;
	font-size: 125%;
	font-family: sans-serif;
	font-weight: bold;
	font-variant: small-caps;
	}

div.assignments {
	font-size: 100%;
	background-color: mistyrose;
	margin-top: 2%;
	width: 42%;
	height: 450px;
	border: 2px ridge red;
	border-width: 10px;
	padding: 5px 5px 5px 5px;
	float: right;
	}

div.assignments:before {
	content: "Assignments";
	color: teal;
	font-size: 125%;
	font-family: sans-serif;
	font-weight: bold;
	font-variant: small-caps;
	}

div.assignments p {
	margin-bottom: 0;
	margin-top: 3pt;
	}

table	{
	background-color: mistyrose;
	border: 2px ridge red;
	border-width: 6px;
	margin: 0 auto;
	}

td	{
	margin-top: 2%;
	border-color: blue;
	border-style: solid;
	border-width: 2px;
	}

div.current {
	background-color: White;
	}

div.hide {
	display: none;
	}
