#thepage {
	padding: 2.5%;
	}

body	{
	background-color: DarkGoldenRod;
	font-family: "Century Gothic", "Arial", "Garamond", sans;
	}

h1	{
	color: rgb(0, 0, 153);
	margin: 0 0 0 0;
	padding-left: 2%;
	}

h2	{
	font-weight: normal;
	color: rgb(192, 192, 192);
	text-align: right;
	margin-top: 0%;
	margin-bottom: 2%;
	padding-right: 2%;
	}

a	{
	color: gold;
	}

a:hover	{
	color: yellow;
	background-color: Blue;
	}

a:visited {
	color: green;
	}

a.Bridget {
	color: hotpink;
	font-weight: bold;
	font-size: 125%;
	}

a.Bridget:hover	{
	color: yellow;
	font-size: 150%;
	}

a.Bridget:visited {
	color: lightpink;
	font-weight: bold;
	font-size: 125%;
	}

th	{
	font-weight: normal;
	font-size: 110%;
	}

td	{
	background-color: #333366;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	}

table	{
	color: white;
	width: 100%;
	}

td + td {
	color: #ff9900;
	}

tr th	{
	background-color: #999999;
	}

tr + tr th	{
	background-color: #666666;
	}

tr + tr + tr th {
	background-color: #333333;
	}
#fan	{
	font-style: italic;
	}
