/* Tech 11 */
body	{
	font-family: serif;
	color: rgb(0, 0, 0);
	background-color: rgb(255, 255, 220);
	}
h1	{
	color: olive;
	font-size: 175%;
	font-family: sans-serif;
	text-align: center;
	margin-bottom: 0%;
	}
p	{
	font-family: serif;
	font-weight: normal;
	}
ol li	{
	color: teal;
	font-size: 125%;
	font-family: sans-serif;
	font-weight: bold;
	font-variant: small-caps;
	margin-top: 2ex;
	}
ul li {
	color: black;
	font-size: 100%;
	margin-bottom: 1ex;
	font-family: serif;
	font-weight: normal;
	font-variant: normal;
	}
ul.goals {
	list-style-type: square;
	}
ul.examples {
	list-style-type: none;
	}
